.header{
    height: 80px;
    background-color: white;

}
.header img{
    height: 30px;
    padding-left: 700px;
    margin-top: 20px;
}
a.nnav-item.dropdown{
    font-size: 16px;
    color: rgba(0,0,0,.55);
    text-decoration: none;
    padding-left: 10px;
}
footer{
    display: block;
    background-color: black;
    height: 40px;

}
footer span{
    padding-left: 700px;
    display: block;
    padding-top: 10px;
    color: white;
    font-size: 16px;
    display: inline-block;
 
  }
  


